
@{
    ViewData["Title"] = "Index";
}

    <h3 class="text-center text-info">
        <a  href="https://www.w3schools.com/">The Best Way To Learn Web Development Technologies</a>
    </h3>
    
        <h1 class="text-danger">Index</h1>
        <div id="app">
            <a class="text-center text-capitalize text-danger" href="https://www.w3schools.com/bootstrap4/">
                <h5 >{{ message }}</h5>
            </a>
            <hr />
            <button class="btn btn-info text-center" v-on:click="say()">The Best Way To Learn</button>
        </div>
        <hr />

        @for (int index = 1; index < 30; index++)
        {
            @Html.ActionLink(linkText: (index < 10 ? $" Let's Go To Learn0{index} :-) " : $"Let's Go To Learn{index} :-) "), actionName: (index < 10 ? $"Learn0{index}" : $"Learn{index}"), controllerName: "Home", routeValues: new { Area = "" }, htmlAttributes: new { @class = "navbar-brand" })
            <br />
        }
    


@section Scripts{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: null
            },
            methods: {
                say: function () {

                    if (this.message === null) {

                        this.message = "The Best Way To Learn BootStrap V4 Is This Link..."
                    }
                    else {

                        this.message = null

                    }

                }
            }
        })
    </script>
}