
@{
    ViewData["Title"] = "Learn07";
}


    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">
                    <img src="~/Images/logo.PNG" alt="Logo" style="width:20px; height:20px" />
                </a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Learn01">
                            Learn01
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Learn02">
                            Learn02
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <br />
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <a class="navbar-brand" href="#">
                    <img src="~/Images/logo.PNG" alt="Logo" style="width:25px; height:25px" />
                </a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Learn01">
                            Learn01
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Learn02">
                            Learn02
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <br />
        <p>Responsiv Navbars</p>
        <div class="col-sm-12">

            <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navCollapse">
                    <span class="navbar-toggler-icon"></span>
                    <img src="~/Images/logo.PNG" alt="Logo" style="width:25px; height:25px" />
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Images/logo.PNG" alt="Logo" style="width:25px; height:25px" />
                </a>
                <div class="collapse navbar-collapse" id="navCollapse">
                    <a class="navbar-brand" href="#">
                        <img src="~/Images/logo.PNG" alt="Logo" style="width:25px; height:25px" />
                    </a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="~/Home/Learn01">
                                Learn01
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="~/Home/Learn02">
                                Learn02
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
        <br />
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="#">Navbar</a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br />
        <div class="col-sm-12">

            <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">  @*sticky-top*@
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navCollapse">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Images/logo.PNG" alt="Logo" style="width:25px; height:25px" />
                </a>
                <div class="collapse navbar-collapse" id="navCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="~/Home/Learn01">
                                Learn01
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="~/Home/Learn02">
                                Learn02
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">
                                Dropdown Link
                            </a>
                            <div class="dropdown-menu bg-info">
                                <a class="dropdown-item" href="~/Home/Learn03">
                                    Learn03
                                </a>
                                <a class="dropdown-item" href="~/Home/Learn04">
                                    Learn04
                                </a>
                                <a class="dropdown-item" href="~/Home/Learn05">
                                    Learn05
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
                <form class="form-inline" action="/action_page.php">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <br />
        <div class="col-sm-12">
            <p>
                The media object component can be used to build hierarchical style lists such as blog
                comments or tweets. In the following example application, we'll use it to return a search
                result view when the user searches for employees. Our model will have a 'ReportsTo'
                field indicating which employee other employees report to; the media object component
                would be ideal to indicate this visually.
            </p>
            <p>
                The media object component can be used to build hierarchical style lists such as blog
                comments or tweets. In the following example application, we'll use it to return a search
                result view when the user searches for employees. Our model will have a 'ReportsTo'
                field indicating which employee other employees report to; the media object component
                would be ideal to indicate this visually.
            </p>
            <p>
                The media object component can be used to build hierarchical style lists such as blog
                comments or tweets. In the following example application, we'll use it to return a search
                result view when the user searches for employees. Our model will have a 'ReportsTo'
                field indicating which employee other employees report to; the media object component
                would be ideal to indicate this visually.
            </p>
            <p>
                The media object component can be used to build hierarchical style lists such as blog
                comments or tweets. In the following example application, we'll use it to return a search
                result view when the user searches for employees. Our model will have a 'ReportsTo'
                field indicating which employee other employees report to; the media object component
                would be ideal to indicate this visually.
            </p>
            <p>
                The media object component can be used to build hierarchical style lists such as blog
                comments or tweets. In the following example application, we'll use it to return a search
                result view when the user searches for employees. Our model will have a 'ReportsTo'
                field indicating which employee other employees report to; the media object component
                would be ideal to indicate this visually.
            </p>
            <p>
                The media object component can be used to build hierarchical style lists such as blog
                comments or tweets. In the following example application, we'll use it to return a search
                result view when the user searches for employees. Our model will have a 'ReportsTo'
                field indicating which employee other employees report to; the media object component
                would be ideal to indicate this visually.
            </p>
        </div>
    </div>

