
@{
    ViewData["Title"] = "Learn03";
}

<h1>Learn03 : BootStrap Buttons</h1>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-primary btn-sm">Primary Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-primary btn-md">Primary Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-primary btn-lg">Primary large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-success btn-sm">Success Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-success btn-md">Success Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-success btn-lg">Success large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-info btn-sm">info Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-info btn-md">info Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-info btn-lg">info large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-warning btn-sm">warning Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-warning btn-md">warning Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-warning btn-lg">warning large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-danger btn-sm">Danger Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-danger btn-md">Danger Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-danger btn-lg">Danger large</button>
    </div>
</div>
<hr />
<h6>
    Bootstrap 4 introduces a new style of button called Outline Buttons. To apply it to your
    buttons, simply add the .btn-outline-* class to the <button> element
</h6>
<br />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-danger btn-sm">outline Danger Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-danger btn-md">outline Danger Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-danger btn-lg">outline Danger large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-primary btn-sm">outline primary Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-primary btn-md">outline primary Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-primary btn-lg">outline primary large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-warning btn-sm">outline warning Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-warning btn-md">outline warning Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-warning btn-lg">outline warning large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-success btn-sm">outline success Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-success btn-md">outline success Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-success btn-lg">outline success large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-secondary btn-sm">outline secondary Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-secondary btn-md">outline secondary Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-secondary btn-lg">outline secondary large</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-info btn-sm">outline info Small</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-info btn-md">outline info Medium</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" href="#" class="btn btn-outline-info btn-lg">outline info large</button>
    </div>
</div>
